h1 {
    color: #79C698;
    font-family: 'Abril Fatface', Cursive;
    font-size: 48px;
    text-align: center;
}

a {
    color: lightcoral;
    display: block;
    font-family: 'Poppins', Sans-Serif;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

a:hover {
    color:lightblue;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 10%;
}

div .recipe {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}